* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 720px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: auto;
  border: black 1px solid;
  height: 720px;
  max-height: 720px;
}

.box {
  border: black 1px solid;
  flex: 1 1 auto;
}

.etched {
  background-color: black;
}
