* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 720px;
  margin: auto;
  background-color: black;
}

button {
  background-color: black;
  color: yellowgreen;
  border-radius: 8px;
  padding: 8px 16px;
  border: greenyellow 1px solid;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 4px 0;
}

h1 {
  text-align: center;
  color: rgb(170, 247, 28);
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: greenyellow 1px solid;
  height: 720px;
}

.box {
  border: greenyellow 1px solid;
}

.etched {
  background-color: greenyellow;
}
